.profile-name {
  color: #6366f1;
}

.profile-bio {
  color: #2c364c;
}

.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  padding: 20px 20px;
}
